#logo {
    text-align: center;
}

h3 {
    margin: 20px;
    font-family: 'Charm', cursive;
    text-shadow: 5px 5px 10px red;
}

p{
    color: rgb(223, 64, 43);
    font-family: 'Libre Baskerville', serif;
    font-size: 24px;
    padding: 18px;
}